
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/graph.css">
</head>
<body>
   
    <div class="container"> 
        <div class="nav">
            <div class ="logotext">
              <img class ="logo" src="source/sesuni.png" alt="SU LOGO">   
                 <div class="text1">
                    <p class="scettext inter-font">SCET</p>
                    <div class="line-1"></div>
                        <div class="placement-portal inter-font">
                            Placement
                            <br />
                            Portal
                        </div>
                </div>
            </div>
            <hr class="scetbelowline">
            <div class="side-bar">

                <div class="frame-3">
                  <div class="statistics inter-font" id="statistics">STATISTICS</div>
                </div>
                <div class="frame-5">
                  <div class="vision-mission inter-font" id="vision-mission">VISION &amp; MISSION</div>
                </div>
                <div class="frame-7">
                  <div class="tn-p-policy inter-font" id="policy">TnP POLICY</div>
                </div>
                <div class="frame-4">
                  <div class="about inter-font" id="about">ABOUT</div>
                </div>
                <div class="frame-6">
                  <div class="apply inter-font" id="offers">OFFERS</div>
                </div>
                <div class="frame-8">
                  <div class="team inter-font" id="team">TEAM</div>
                </div>
                <div class="frame-9">
                  <div class="notification inter-font" id="notification">NOTIFICATION</div>
                </div>
                <div  class="frame-10">
                  <div class="profile inter-font" id="profile">PROFILE</div>
                </div>
              </div>
        </div>
        
        <div class="header">
          <div
          class="head-text inter-font">
          Gain a comprehensive overview of our placement success rates. Explore
          detailed statistics on job offers, department-wise placements, and the
          performance of our graduates.
        </div>
            <div class="head-line"></div>
                <div class="frame-head">
                    <div class="placement-statistics">PLACEMENT STATISTICS</div>
                </div>
                <div class="noti">
                    <div class="rectangle-48"></div>
                    <img class="system-icons" src="./source/bell.png" />
                    <img class="line-9" src="line-90.svg" />
                    <img class="system-icons2" src="./source/system-icons1.svg" />
                </div>
           

        </div>


        <!--graphs-->
        <div class="graph-1">
          <div class="base"></div>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>